/* Font ===========================> */
/* Font ===========================> */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Font ===========================> */
/* Font ===========================> */

/* Default ===========================> */
/* Default ===========================> */
* {
  transition: all 0.3s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #eff2f6;
}
/* Default ===========================> */
/* Default ===========================> */

/* ScrollBar ===========================> */
/* ScrollBar ===========================> */

::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #14191e26;
  border-radius: 20px;
}

/* ScrollBar ===========================> */
/* ScrollBar ===========================> */

/* Header ===========================> */
/* Header ===========================> */

.header {
  height: 60px;
  background-color: #ffffffff;
}

/* Navbar ===========================> */
/* Navbar ===========================> */

/* NavbarStart ===========================> */
/* NavbarStart ===========================> */

.navbar-start {
  width: 10%;
}
/* NavbarStart ===========================> */
/* NavbarStart ===========================> */

/* NavbarCenter ===========================> */
/* NavbarCenter ===========================> */

.navbar-center {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* NavbarCenterForm ===========================> */
/* NavbarCenterForm ===========================> */

.navbar-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar-search-input {
  width: 280px;
  background-color: #eef0f2;
  border: 2px solid transparent;
}
.navbar-search-input:focus {
  background-color: #eef0f2;
  box-shadow: none !important;
  border: 2px solid #0f6fec;
}

.navbar-search-input::placeholder {
  opacity: 0.6;
}
.navbar-search-icon {
  color: black;
  font-size: 18px;
}

/* NavbarCenterForm ===========================> */
/* NavbarCenterForm ===========================> */

/* NavbarCenterDrodowns ===========================> */
/* NavbarCenterDrodowns ===========================> */
.dropdown-toggle::after {
  display: none;
}
.navbar-dropdown-toggle-icon {
  font-weight: 900;
  font-size: 10px;
  font-family: bifont;
}

.dropdown-menu {
  width: 250px;
  box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.1),
    0px 0px 30px rgba(83, 88, 93, 0.2);
}
.dropdown-item {
  transition: all 0.3s linear;
  letter-spacing: 0.5px;
  color: #676a79;
  font-weight: 800;
  background-color: transparent;
}
.dropdown-item-cloud-icon {
  color: #0cbc87;
}
.dropdown-item:hover,
.nav-link:hover {
  transition: all 0.3s linear;
  color: #0f6fec;
  background-color: transparent;
}
.dropdown-item.active {
  background-color: transparent;
  color: #0f6fec;
}

/* NavbarCenterDrodowns ===========================> */
/* NavbarCenterDrodowns ===========================> */

/* NavbarCenter ===========================> */
/* NavbarCenter ===========================> */

/* NavbarEnd ===========================> */
/* NavbarEnd ===========================> */

.navbar-end {
  width: 20%;
  cursor: pointer;
}
.navbar-end-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-end > .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-link-icon {
  width: 40px;
  height: 40px;
  background-color: #eef0f2;
  color: #676a79;
}
.nav-link-icon:hover {
  color: black;
  background-color: #eef0f2;
}
.navbar-profile-img {
  width: 40px;
  height: 40px;
}

/* NavbarEndDrodowns ===========================> */
/* NavbarEndDrodowns ===========================> */

#navbar-dropdown-right {
  width: 350px !important;
}
#navbar-dropdown-right-2 {
  width: 250px !important;
}

#nav-link-icon-notification {
  position: relative;
}

#nav-link-icon-notification:before {
  content: "";
  position: absolute;
  right: -5%;
  top: 0%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d6293e;
}
.dropdown-notification-btns > button,
.dropdown-item > div > span {
  font-size: 15px;
}
.dropdown-notification-massege > div > p,
.dropdown-notification-massege > span {
  font-size: 13px;
}
#dropdown-notification-end:hover {
  background-color: #eef0f2 !important;
}
.dropdown-notification-btns > button:nth-child(2):hover,
.dropdown-notification-btns > button:nth-child(2):focus {
  opacity: 1;
  background-color: #d6293e !important;
  color: white !important;
}
.dropdown-notification-img {
  width: 50px;
  height: 50px;
}
#navbar-dropdown-profile-btn:hover {
  background-color: #0f6fec !important;
  color: white !important;
}
.dropdown-notification-massege > div::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
}

/* NavbarEndDrodowns ===========================> */
/* NavbarEndDrodowns ===========================> */

/* NavbarEnd ===========================> */
/* NavbarEnd ===========================> */

/* NavbarSmallScreen ===========================> */
/* NavbarSmallScreen ===========================> */

.menu-lines {
  display: none;
  transition: all 0.5s ease-in-out;
  width: 20px;
  height: 20px;
  background-color: #eef0f2 !important;
  z-index: 1000;
}
.menu-lines:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 18px;
  background-color: #eef0f2 !important;
  border: 1px solid #d9dbdc;
  border-radius: 0.2rem;
}
.navbar-menu-line-1,
.navbar-menu-line-2,
.navbar-menu-line-3 {
  transition: all 0.25s ease-in-out;
  height: 2px;
  width: 100%;
  background-color: #676a79;
  transform: rotateZ(0deg);
}

.navbar-menu-line-1 {
  top: 10%;
}

.navbar-menu-line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-menu-line-3 {
  bottom: 10%;
}

.navbarMenuLinesActive .navbar-menu-line-1 {
  transform: rotateZ(45deg) translateY(-50%);
  top: 47%;
  transform-origin: 47% 0;
  width: 100%;
}

.navbarMenuLinesActive .navbar-menu-line-2 {
  transition: all 0s ease-in-out;
  visibility: hidden;
}

.navbarMenuLinesActive .navbar-menu-line-3 {
  transform: rotateZ(-45deg) translateY(-50%);
  bottom: 42%;
  transform-origin: 50% 0;
  width: 100%;
}

/* NavbarSmallScreen ===========================> */
/* NavbarSmallScreen ===========================> */

/* Header ===========================> */
/* Header ===========================> */

/* OffCanvas ===========================> */
/* OffCanvas ===========================> */
.chat-offcanvas-open-btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
}
.chat-offcanvas-close-btn,
.chat-offcanvas-icon,
#chatoffcanvasdropdownMenuButton1,
#chatoffcanvaschatdropdown {
  font-size: 14px;
  background-color: transparent;
}
.chat-offcanvas-close-btn:hover,
.chat-offcanvas-icon:hover,
#chatoffcanvasdropdownMenuButton1:hover,
#chatoffcanvaschatdropdown:hover {
  background-color: #eff2f6;
}
.chat-offcanvas-h5 {
  font-weight: 900;
}
.chat-offcanvas-body {
  width: 100% !important;
}
.chat-offcanvas-form-input {
  cursor: text;
  background-color: #eef0f2;
  border: 2px solid transparent;
}
.chat-offcanvas-form-input:focus {
  background-color: #eef0f2;
  box-shadow: none !important;
}
.chat-contact-li {
  position: relative;
}
.chat-contact-dp {
  position: relative;
  width: 50px;
  height: 50px;
}
.chat-contact-li:before {
  content: "";
  position: absolute;
  left: 13%;
  top: 19%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}
.chat-contact-li:nth-child(3)::before {
  background-color: red;
}
.chat-contact-li:nth-child(4)::before {
  display: none;
}
.chat-contact-name {
  font-size: 14px;
}
.chat-contact-massage {
  font-size: 13px;
  letter-spacing: 0.5px;
}
.chat-contact-massage-time {
  font-size: 12px;
}

.chat-Massage-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  z-index: 99999 !important;
  top: 2%;
  right: 30%;
}
.chat-history {
  overflow-y: scroll;
  height: 300px;
}
.chat-contact-massage-dp {
  width: 30px;
  height: 30px;
}
.chat-massages-time {
  font-size: 12px;
}
.massege-text {
  font-size: 13px;
}
.chat-massage-input {
  border: 1px solid transparent;
  outline: none;
}
.chat-massage-input:focus {
  border: 1px solid #0f6fec;
}
.chat-massage-btn-1 {
  width: 40px;
  height: 40px;
  color: #d6293e;
  font-weight: 900;
  font-size: 30px;
}
.chat-massage-btn-1:hover {
  background-color: #d6293e;
  color: #ffffffff;
}
.chat-massage-btn-2 {
  width: 40px;
  height: 40px;
  color: black;
  font-weight: 900;
}
.chat-massage-btn-2:hover {
  background-color: black;
  color: #ffffffff;
}
.chat-massage-btn-3 {
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #0cbc87;
  font-weight: 900;
}
.chat-massage-btn-3:hover {
  background-color: #0cbc87;
  color: #ffffffff;
}
/* OffCanvas ===========================> */
/* OffCanvas ===========================> */

/* Page-Main ===========================> */
/* Page-Main ===========================> */

/* Page-Main ===========================> */
/* Page-Main ===========================> */

/* MediaQuiries ===========================> */
/* MediaQuiries ===========================> */

@media (max-width: 1200px) {
  .navbar-end {
    width: 100%;
    background-color: #ffffffff;
  }
  .navbar-end-ul {
    justify-content: center;
    align-items: center;
  }

  .navbar-center {
    justify-content: space-evenly;
  }
}

@media (max-width: 991px) {
  .navbar-menu-lines-Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-lines {
    display: inline-block;
  }

  .navbar-center {
    display: inline;
  }

  .navbar-collapse {
    width: 100%;
  }
  .navbar-center {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffffffff;
  }

  .navbar-search-input,
  .navbar-form,
  .navbar-nav,
  .navbar-nav > .nav-item.dropdown,
  .navbar-nav > .nav-item-end-link,
  .dropdown-menu,
  .nav-link.dropdown-toggle {
    width: 100% !important;
  }
  .navbar-nav > .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-start {
    width: 20%;
  }

  .navbar-end {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
  }
  .navbar-end-ul {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
@media (max-width: 600px) {
  #navbar-dropdown-right {
    position: absolute;
    transform: translate(-73%, 0);
  }
  #navbar-dropdown-right-2 {
    position: absolute;
    transform: translate(-90%, 0);
  }
}
@media (max-width: 400px) {
  .dropdown-notification-img {
    width: 30px;
    height: 30px;
  }
  #navbar-dropdown-right {
    width: 320px !important;
  }
  .navbar-brand-logo {
    width: 30px;
    height: 30px;
  }
  .nav-link-icon,
  .navbar-profile-img {
    width: 30px;
    height: 30px;
  }
  .navbar-end {
    gap: 0.3rem;
  }
  .navbar-end > .nav-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .menu-lines:before {
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
}

/* MediaQuiries ===========================> */
/* MediaQuiries ===========================> */
