/* Font ===========================> */
/* Font ===========================> */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Font ===========================> */
/* Font ===========================> */

/* Default ===========================> */
/* Default ===========================> */
* {
  transition: all 0.3s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
}

:root {
  --main-color: #191a1f;
  --header-color: #0f0f10;
  --active-color: #0f6fec;
  --nav-link-color: #c5c6cc;
  --input-color: #313235;
  --input-color-place: #ffffffb3;
  --dropdown-item: #c5c6cc;
  --btn-bg: #202227;
  --btn-bg-color: #fffffff9;
  --btn-bg-color-2: #a1a1a8;
  --notification: #d6293e;
  --notification-2: #0f6fec;
  --btn-3: #14191e;
  --btn-2: #a1a1a8;
  --btn-5: #c5c6cc1a;
  --btn-transparent: rgba(15, 111, 236, 0.1);
  --offcanvas-bg: #191a1f;
  --cloud: rgb(12, 188, 135);
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--main-color);
}
img {
  font-size: 12px;
}
/* Default ===========================> */
/* Default ===========================> */

/* ScrollBar ===========================> */
/* ScrollBar ===========================> */

::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
  background: var(--nav-link-color);
}
::-webkit-scrollbar-thumb {
  background: var(--input-color);
  border-radius: 20px;
}

/* ScrollBar ===========================> */
/* ScrollBar ===========================> */

/* Header ===========================> */
/* Header ===========================> */

.top-content,
.header {
  height: 60px;
  background-color: var(--header-color);
}

/* Navbar ===========================> */
/* Navbar ===========================> */

/* NavbarStart ===========================> */
/* NavbarStart ===========================> */

.navbar-start {
  width: 10%;
}
/* NavbarStart ===========================> */
/* NavbarStart ===========================> */

/* NavbarCenter ===========================> */
/* NavbarCenter ===========================> */

.navbar-center {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* NavbarCenterForm ===========================> */
/* NavbarCenterForm ===========================> */

.navbar-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
input::-webkit-search-cancel-button {
  display: none;
}
.navbar-search-input {
  width: 280px;
  background-color: var(--input-color);
  color: var(--input-color-place) !important;
  border: 2px solid transparent;
}
.navbar-search-input:focus {
  background-color: var(--input-color);
  box-shadow: none !important;
  border: 2px solid var(--active-color);
}

.navbar-search-input::placeholder {
  color: var(--input-color-place);
}
.navbar-search-icon {
  color: var(--input-color-place);
  font-size: 18px;
}

/* NavbarCenterForm ===========================> */
/* NavbarCenterForm ===========================> */

/* NavbarCenterDrodowns ===========================> */
/* NavbarCenterDrodowns ===========================> */

.nav-link {
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 15px;
  color: var(--nav-link-color);
}

.nav-link.show {
  color: var(--active-color) !important;
}
.nav-link:hover,
.nav-link.active {
  color: var(--active-color) !important;
}
.dropdown-toggle::after {
  display: none;
}
.navbar-dropdown-toggle-icon {
  font-weight: 900;
  font-size: 10px;
}

.dropdown-menu {
  width: 250px;
  box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.1),
    0px 0px 30px rgba(83, 88, 93, 0.2);
  background-color: var(--header-color);
}
.dropdown-item {
  transition: all 0.3s linear;
  letter-spacing: 0.5px;
  color: var(--dropdown-item);
  font-weight: 800;
  font-size: 15px;
  background-color: transparent;
}
.dropdown-item-cloud-icon {
  color: var(--cloud);
}
.dropdown-item:hover,
.nav-link:hover {
  transition: all 0.3s linear;
  color: var(--active-color);
  background-color: transparent;
}
.dropdown-item.active {
  background-color: transparent;
  color: var(--active-color);
}

/* NavbarCenterDrodowns ===========================> */
/* NavbarCenterDrodowns ===========================> */

/* NavbarCenter ===========================> */
/* NavbarCenter ===========================> */

/* NavbarEnd ===========================> */
/* NavbarEnd ===========================> */

.navbar-end {
  width: 20%;
  cursor: pointer;
}
.navbar-end-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-end > .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#navbardropdown4::before {
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  width: 8px;
  height: 8px;
  background-color: var(--notification);
  border-radius: 50%;
}

.nav-link-icon {
  width: 40px;
  height: 40px;
  background-color: var(--btn-bg);
  color: var(--btn-bg-color-2);
}
.nav-link-icon:hover {
  color: var(--btn-bg-color);
}
.navbar-profile-img {
  width: 40px;
  height: 40px;
}

/* NavbarEndDrodowns ===========================> */
/* NavbarEndDrodowns ===========================> */

#navbar-dropdown-right {
  width: 350px !important;
  position: absolute;
  overflow: auto !important;
  top: 100%;
}
#navbar-dropdown-right-2 {
  width: 250px !important;
}
.navbar-notification-new,
.navbar-notification-clear {
  font-size: 14px;
}
#nav-link-icon-notification {
  position: relative;
}

#nav-link-icon-notification:before {
  content: "";
  position: absolute;
  right: -5%;
  top: 0%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--notification);
}
.dropdown-notification {
  background-color: var(--btn-bg);
}
.dropdown-notification-btns > button,
.dropdown-item > div > span {
  font-size: 15px;
}
.dropdown-notification-massege > div > p,
.dropdown-notification-massege > span {
  color: var(--dropdown-item);
  font-size: 13px;
}
.dropdown-notification-massege > span {
  font-size: 11px;
}
#dropdown-notification-end:hover {
  background-color: transparent !important;
}
.dropdown-notification-btns > button:nth-child(2):hover,
.dropdown-notification-btns > button:nth-child(2):focus {
  opacity: 1;
  background-color: #d6293e !important;
  color: white !important;
}
.dropdown-notification-img {
  width: 50px;
  height: 50px;
}
#navbar-dropdown-profile-btn:hover {
  background-color: var(--active-color) !important;
  color: white !important;
}
.dropdown-notification-massege > div::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--notification-2);
}
.mode {
  font-size: 15px;
  color: var(--btn-bg-color-2);
}
.mode-btn {
  color: var(--btn-bg-color-2);
  background-color: transparent;
}
/* NavbarEndDrodowns ===========================> */
/* NavbarEndDrodowns ===========================> */

/* NavbarEnd ===========================> */
/* NavbarEnd ===========================> */

/* NavbarSmallScreen ===========================> */
/* NavbarSmallScreen ===========================> */

.menu-lines {
  display: none;
  transition: all 0.5s ease-in-out;
  width: 20px;
  height: 20px;
  z-index: 1000;
}
.menu-lines:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 18px;
  background-color: var(--btn-bg) !important;
  border-radius: 0.2rem;
}
.navbar-menu-line-1,
.navbar-menu-line-2,
.navbar-menu-line-3 {
  transition: all 0.25s ease-in-out;
  height: 2px;
  width: 100%;
  background-color: var(--dropdown-item);
  transform: rotateZ(0deg);
}

.navbar-menu-line-1 {
  top: 10%;
}

.navbar-menu-line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-menu-line-3 {
  bottom: 10%;
}

.navbarMenuLinesActive .navbar-menu-line-1 {
  transform: rotateZ(45deg) translateY(-50%);
  top: 47%;
  transform-origin: 47% 0;
  width: 100%;
}

.navbarMenuLinesActive .navbar-menu-line-2 {
  transition: all 0s ease-in-out;
  visibility: hidden;
}

.navbarMenuLinesActive .navbar-menu-line-3 {
  transform: rotateZ(-45deg) translateY(-50%);
  bottom: 42%;
  transform-origin: 50% 0;
  width: 100%;
}

/* NavbarSmallScreen ===========================> */
/* NavbarSmallScreen ===========================> */

/* Header ===========================> */
/* Header ===========================> */

/* OffCanvas ===========================> */
/* OffCanvas ===========================> */
.offcanvas {
  background-color: var(--offcanvas-bg);
}
.chat-offcanvas-open-btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
}
.chat-offcanvas-close-btn,
.chat-offcanvas-icon,
.chat-offcanvas-massege-close-btn,
#chatoffcanvasdropdownMenuButton1,
#chatoffcanvaschatdropdown {
  font-size: 14px;
  background-color: transparent;
  z-index: 99999;
  color: var(--btn-bg-color-2);
}
.chat-offcanvas-close-btn:hover,
.chat-offcanvas-massege-close-btn:hover,
.chat-offcanvas-icon:hover,
#chatoffcanvasdropdownMenuButton1:hover,
#chatoffcanvaschatdropdown:hover {
  background-color: var(--btn-bg);
}
.chat-offcanvas-h5 {
  font-weight: 900;
  color: var(--btn-bg-color) !important;
}
.chat-offcanvas-body {
  width: 100% !important;
}
.chat-contact-massage-time {
  margin-left: 40%;
}
.chat-offcanvas-form-input::placeholder {
  color: var(--input-color-place);
}
.chat-offcanvas-form-input {
  cursor: text;
  background-color: var(--input-color);
  color: var(--input-color-place);
  border: 2px solid transparent;
}
.chat-offcanvas-form-icon {
  color: var(--input-color-place);
}
.chat-offcanvas-form-input:focus {
  background-color: var(--input-color);
  color: var(--input-color-place);
  box-shadow: none !important;
}
.chat-contact-li {
  position: relative;
}
.chat-contact-dp {
  position: relative;
  width: 50px;
  height: 50px;
}
.chat-contact-img-group {
  display: flex;
  flex-direction: row;
}
.chat-contact-img-group > img {
  width: 24px;
  height: 24px;
}
.chat-contact-dp.status {
  border: 2px solid var(--active-color);
}
.chat-contact-li:before {
  content: "";
  position: absolute;
  left: 13%;
  top: 19%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}
.chat-contact-li:nth-child(3)::before,
.chat-contact-li:nth-child(8)::before {
  background-color: red;
}
.chat-contact-li:nth-child(4)::before,
.chat-contact-li:nth-child(7)::before,
.chat-contact-li:nth-child(9)::before,
.chat-contact-li:nth-child(11)::before {
  display: none;
}
.chat-contact-name,
.chat-contact-massage-name {
  font-size: 13px;
  font-weight: 900 !important;
}
.chat-contact-massage {
  font-size: 13px;
  letter-spacing: 0.5px;
}
.chat-contact-massage-time {
  font-size: 12px;
}

/* Chat Box ===========================> */
/* Chat Box ===========================> */

.chat-Massage-chat-box {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000000000;
  background-color: var(--header-color);
}

.chat-history {
  transition: all 0.3s linear;
  overflow-y: auto;
  height: 300px;
}

.chat-massages-time {
  color: var(--btn-bg-color-2);
}
.massege-text {
  background-color: var(--btn-bg);
  color: var(--dropdown-item);
}
.massages-text-time {
  color: var(--btn-bg-color-2);
}
.chatMassageboxMaximum .chat-history {
  height: 0px;
}
.chat-contact-massage-dp,
.chat-contact-massage-dp {
  width: 30px;
  height: 30px;
}
.massages-text-time,
.chat-massages-time {
  font-size: 12px;
}
.massege-text {
  font-size: 13px;
}
.chat-massage-input {
  background-color: var(--btn-bg);
  color: var(--btn-bg-color-2);
  border: 1px solid transparent;
  outline: none;
}
.chat-massage-input:focus {
  border: 1px solid var(--active-color);
}
.chat-massage-btn-1 {
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 30px;
}
.chat-massage-btn-1:hover {
  transition: all 0.3s linear;
  background-color: var(--notification) !important;
  color: var(--btn-bg-color) !important;
}

.chat-massage-btn-2 {
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  background-color: var(--btn-5);
  color: var(--dropdown-item);
  font-weight: 900;
}
.chat-massage-btn-2:hover {
  transition: all 0.3s linear;
  background-color: var(--header-color);
  color: var(--btn-bg-color);
}
.chat-massage-btn-3 {
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 900;
}
.chat-massage-btn-3:hover {
  transition: all 0.3s linear;
  background-color: var(--cloud) !important;
  color: var(--btn-bg-color) !important;
}
/* Chat Box ===========================> */
/* Chat Box ===========================> */

/* OffCanvas ===========================> */
/* OffCanvas ===========================> */

/* Page-Main ===========================> */
/* Page-Main ===========================> */
.page-home {
  margin-top: 1.5rem;
}
.home-column-1 {
  height: 100% !important;
  display: flex;
  background-color: #141519;
}
.home-profile {
  display: flex;
}
.home-profile-banner {
  width: 100%;
  height: 100px;
}
.home-profile-img {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.home-profile-name {
  color: var(--btn-bg-color);
}
.home-profile-name:hover {
  color: var(--active-color);
}
.home-profile-paragraph {
  font-size: 15px;
  color: var(--btn-bg-color-2);
}
.home-profile-skill,
.home-profile-paragraph,
.home-profile-rank > small {
  color: var(--btn-bg-color-2);
}
.home-profile-rank > b {
  font-size: 15px;
}
.home-profile-rank > small {
  color: var(--btn-2);
}
.home-profile-links-ul > li > a {
  color: var(--btn-bg-color);
  letter-spacing: -0.8px;
}
.home-profile-links-ul > li > a:hover {
  color: var(--active-color);
}
.home-profile-links-img {
  width: 20px;
  height: 20px;
}
.profile-offcanvas-open-btn {
  display: none;
}

.home-people-follow,
.home-news {
  background-color: var(--btn-3);
}
.home-people-follow > span,
.home-news > span {
  font-weight: 900;
  font-size: 18px;
}
.people-follow-img {
  width: 40px;
  height: 40px;
}
.people-follow-name {
  font-size: 14px;
}
.news-time,
.people-follow-profession {
  color: var(--btn-2);
  font-size: 13px;
}
.people-follow-plus {
  background-color: var(--btn-transparent);
  color: var(--active-color);
  width: 40px;
  height: 40px;
}
.people-follow-view-btn {
  background-color: var(--btn-transparent);
  color: var(--active-color);
}
.people-follow-plus:hover,
.people-follow-view-btn:hover {
  background-color: var(--active-color);
  color: var(--btn-bg-color);
}
.news-text {
  font-size: 14px;
  color: var(--btn-bg-color);
}
.news-view-btn {
  font-size: 13px;
  color: var(--dropdown-item);
}
.news-view-btn:hover {
  text-decoration: underline !important;
}
/* Page-Main ===========================> */
/* Page-Main ===========================> */

/* MediaQuiries ===========================> */
/* MediaQuiries ===========================> */
@media (max-width: 1300px) {
  #navbar-dropdown-right {
    height: 550px;
  }
}
@media (max-width: 1200px) {
  .navbar-end {
    width: 100%;
    background-color: var(--header-color);
  }
  .navbar-end-ul {
    justify-content: center;
    align-items: center;
  }

  .navbar-center {
    justify-content: space-evenly;
  }
  .page-home {
    margin-top: 4rem;
  }
}

@media (max-width: 1199px) {
  .home-profile-banner {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .page-home {
    margin-top: 1rem;
  }
  .home-profile {
    display: none;
  }
  .home-profile-banner {
    width: 100%;
    height: 100%;
  }
  .home-profile-img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 70%;
  }
  .profile-offcanvas-open-btn {
    display: flex;
  }
  .navbar-collapse,
  .navbar-nav-scroll {
    overflow-y: auto !important;
  }

  #navbar-dropdown-right,
  #navbar-dropdown-right-2 {
    position: absolute;

    transform: translate(-86%, 0);
  }
  .navbar-menu-lines-Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-lines {
    display: inline-block;
  }

  .navbar-center {
    display: inline-flex;
  }

  .navbar-collapse {
    width: 100%;
  }
  .navbar-center {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--header-color);
  }

  .navbar-search-input,
  .navbar-form,
  .navbar-nav,
  .navbar-nav > .nav-item.dropdown,
  .navbar-nav > .nav-item-end-link,
  .dropdown-menu,
  .nav-link.dropdown-toggle {
    width: 100% !important;
  }
  .navbar-nav > .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-start {
    width: 20%;
  }

  .navbar-end {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
  }
  .navbar-end-ul {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
@media (max-width: 600px) {
  #navbar-dropdown-right {
    left: 50%;
    transform: translate(-78%);
  }
  #navbar-dropdown-profile-btn {
    font-size: 13px;
  }
  .chat-dropdown-menu {
    width: 200px !important;
  }
  .dropdown-item {
    font-size: 13px;
  }
  .chat-dropdown-item-icon {
    font-size: 13px;
  }
  .chat-Massage-chat-box {
    width: 100%;
  }
}
@media (width: 344px) {
  #navbar-dropdown-right {
    left: 50%;
    transform: translate(-82%, 0%);
  }
}
@media (max-width: 400px) {
  .dropdown-notification-img {
    width: 30px;
    height: 30px;
  }
  #navbar-dropdown-right {
    width: 320px !important;
  }
  .navbar-brand-logo {
    width: 30px;
    height: 30px;
  }
  .nav-link-icon,
  .navbar-profile-img {
    width: 30px;
    height: 30px;
  }
  .navbar-end {
    gap: 0.3rem;
  }
  .navbar-end > .nav-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .menu-lines:before {
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
}

/* MediaQuiries ===========================> */
/* MediaQuiries ===========================> */
